<nav class="navbar navbar-expand-md navbar-dark bg-primary">
	<a class="navbar-brand">
		<img src="{{ logo }}" alt="SCD" width="40" height="40" />
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" routerLinkActive="active" [routerLink]="'private/dashboard/homepage'">
					<i class="bi bi-house align-text-bottom"></i>
					&nbsp;
					<strong>Inicio</strong>
				</a>
			</li>
		</ul>

		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="#">
					<i class="bi bi-person-badge"></i>

					&nbsp;

					<strong>{{ user }}</strong>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLink]="'login'" (click)="onLogout()">
					<i class="bi bi-box-arrow-right"></i>

					&nbsp;

					<strong>Cerrar Sesión</strong>
				</a>
			</li>
		</ul>
	</div>
</nav>

<br />
